<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LogoPicturePath" value=""/>
		<add key="LetterPageSizeEnabled" value="true"/>
		<add key="RenderOrderNotes" value="True"/>
		<add key="EnablePdfInvoicesForPendingOrders" value="true"/>
		<add key="FontFolder" value="\"/>
		<add key="FontFileName" value="FreeSerif.ttf"/>
		<add key="InvoiceFooterTextColumn1" value=""/>
		<add key="InvoiceFooterTextColumn2" value=""/>
	</appSettings>
</configuration>