<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="C:\Logs\nlog-internal.log">

	<variable name="programName" value="REPLACE_THIS"/>
	<variable name="filePath" value="C:\Logs\${programName}\${date:format=yyyy}\${date:format=MM}\${date:format=dd} "/>

	<targets>
		<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
		<default-target-parameters xsi:type="File" keepFileOpen="true" openFileCacheTimeout="30" />
		<target name="TraceLog" xsi:type="File" fileName="${filePath}Trace.log" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="InfoLog"  xsi:type="File" fileName="${filePath}Info.log"  layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="ErrorLog" xsi:type="File" fileName="${filePath}Error.log" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
	</targets>

	<rules>
		<!-- 
			Trace - Very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development. Ex.: begin method X, end method X
			Debug - Debugging information, less detailed than trace, typically not enabled in production environment. Ex.: executed query, user authenticated, session expired
			Info  - Information messages, which are normally enabled in production environment. Ex.: mail sent, user updated profile
			Warn  - Warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
			Error - Error messages - most of the time these are Exceptions. Application may or may not continue
			Fatal - Very serious errors. Application is going down
		-->
		<logger name="*" minlevel="Trace" writeTo="TraceLog" />
		<logger name="*" minlevel="Info"  writeTo="InfoLog" />
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
	</rules>
</nlog>