<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="C:\Logs\nlog-internal.log">

	<variable name="programName" value="ASDFG"/>
	<variable name="filePath" value="C:\Logs\${programName}\"/>
	<variable name="today" value="${date:format=yyyy MMdd}"/>
	<variable name="thisHour" value="${date:format=yyyy MMdd HH}30"/>

	<targets>
		<default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
		<default-target-parameters xsi:type="File" keepFileOpen="true" openFileCacheTimeout="30" />
		<target name="TraceLog" xsi:type="File" fileName="${filePath}${thisHour} Trace.log" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="InfoLog"  xsi:type="File" fileName="${filePath}${thisHour} Info.log"  layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
		<target name="ErrorLog" xsi:type="File" fileName="${filePath}${thisHour} Error.log" layout="[${date:format=HH\:mm\:ss}|${level}] ${message}" />
	</targets>

	<rules>
		<!-- Very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development -->
		<logger name="*" minlevel="Trace" writeTo="TraceLog" />
		<!-- Information messages, which are normally enabled in production environment -->
		<logger name="*" minlevel="Info"  writeTo="InfoLog" />
		<!-- Error messages - most of the time these are Exceptions -->
		<logger name="*" minlevel="Error" writeTo="ErrorLog" />
	</rules>
</nlog>