<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<connectionStrings>
		<add name="IntranetDataDb" connectionString="data source=rarecoinwholesalers.com;initial catalog=IntranetData;persist security info=True;user id=rcwadmin;password=Gva0wcz2qfd7rtb9;asynchronous processing=True;multipleactiveresultsets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>